p {
	text-align: justify;
	text-indent: 50px;
	}
	
.bold {
	font-weight: 700;
}
.center {
	text-align: center;
	}
.foto {
	border:8px solid white;
	width: 237px;
	heigth: 355px;
	
}
.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow; 1px 1px 4px black;
    color: white;
}
   
.foto-legenda img {
	width: 100%;
	heigth: 100%;
}
body {
	background: #add836;
	}
	
.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4)
	width: 100%;
	heigth: 100%;
	padding: 10px;
	box-sizing; border-box;
	transition: opacity 1s;
	}
.foto-legenda:hover figcaption {
	opacity: 1;
}
.foto-hello {
	border: 8px solid white;
	}
.foto-hello img {
	width: 100%;
	heigth: 100%;
}
